@model MjProducts.Models.product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prodname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prodname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brand.brand1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brand.brand1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.category1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.category1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
